# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt

# PyCharm / VSCode / IDE settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and local db
*.log
*.sqlite3

# Ignore bert下的pycache也要生效
bert/__pycache__/

# Misc
.DS_Store
Thumbs.db
